transformers==4.31.0
torch==2.1.2 
torchvision==0.16.2
tokenizers==0.13.1
sentencepiece
shortuuid
accelerate==0.21.0
peft
bitsandbytes
numpy==1.23
scikit-learn==1.2.2
requests
httpx==0.24.0
uvicorn
fastapi
einops==0.6.1
einops-exts==0.0.4
timm==0.6.13
rouge
matplotlib
tiktoken
transformers_stream_generator